
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>DASHBOARD</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />


<!-- Bootstrap core CSS     -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Animation library for notifications   -->
<link th:href="@{/css/animate.min.css}" rel="stylesheet"/>

<!--  Light Bootstrap Table core CSS    -->
<link th:href="@{/css/light-bootstrap-dashboard.css}" rel="stylesheet"/>


<!--  CSS for Demo Purpose, don't include it in your project     -->
<link th:href="@{/css/demo.css}" rel="stylesheet" />


<!--     Fonts and icons     -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Java Project
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <h3>Dashboard</h3>
                    </a>
                </li>
                <li>
                    <a href="/profile">
                        <i class="pe-7s-note2"></i>
                        <h3>Profile</h3>
                    </a>
                </li>
                <li>
                    <a href="/items/add">
                        <i class="pe-7s-note2"></i>
                        <h3>Add New Item</h3>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-science"></i>
                        <h3>Logout</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Items List</h4>
                                <p class="category">Last Campaign Performance</p>
                            </div>
                            <div class="content">
                                <h1>Add Item</h1>
                                <form action="/items" method="get">
                                    <table class="redTable">
                                        <tr><td>URL:</td><td><input type="text" name="url" value=""/></td></tr>
                                        <tr><td>Markup:</td><td><input type="text" name="markup" value=""/></td></tr>
                                        <tr><td colspan="2"><input type="submit" value="Add New Item"/></td></tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users Behavior</h4>
                                <p class="category">24 Hours performance</p>
                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart"></div>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Click
                                        <i class="fa fa-circle text-warning"></i> Click Second Time
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> Timur
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script th:src="@{/js/jquery.3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

<!--  Charts Plugin -->
<script th:src="@{/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script th:src="@{/js/bootstrap-notify.js}"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script th:src="@{/js/light-bootstrap-dashboard.js}"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script th:src="@{/js/demo.js}"></script>


</html>
<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" contentType="text/html; charset=ISO-8859-1"
      pageEncoding="ISO-8859-1">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Add Item Form</title>

        &lt;!&ndash; Bootstrap core CSS     &ndash;&gt;
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

        &lt;!&ndash; Animation library for notifications   &ndash;&gt;
        <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>

        &lt;!&ndash;  Light Bootstrap Table core CSS    &ndash;&gt;
        <link th:href="@{/css/light-bootstrap-dashboard.css}" rel="stylesheet"/>


        &lt;!&ndash;  CSS for Demo Purpose, don't include it in your project     &ndash;&gt;
        <link th:href="@{/css/demo.css}" rel="stylesheet" />


        &lt;!&ndash;     Fonts and icons     &ndash;&gt;
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Java Project
                    </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="dashboard.html">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/items">
                            <i class="pe-7s-user"></i>
                            <p>Items List</p>
                        </a>
                    </li>
                    <li>
                        <a href="/items/add">
                            <i class="pe-7s-note2"></i>
                            <p>Add New Item</p>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            <i class="pe-7s-news-paper"></i>
                            <p>Login</p>
                        </a>
                    </li>
                    <li>
                        <a href="/registration">
                            <i class="pe-7s-science"></i>
                            <p>Registration</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-panel">
                <h1>Add Item</h1>
                <form action="/test" method="get">
                    <table class="redTable">
                        <tr><td>URL:</td><td><input type="text" name="url" value=""/></td></tr>
                        <tr><td>Markup:</td><td><input type="text" name="markup" value=""/></td></tr>
                        <tr><td colspan="2"><input type="submit" value="Add New Item"/></td></tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>-->
