<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8" http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>DASHBOARD</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link th:href="@{/css/light-bootstrap-dashboard.css}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link th:href="@{/css/demo.css}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    <h3>Java Project</h3>
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <h3>Dashboard</h3>
                    </a>
                </li>
                <li>
                    <a href="/profile">
                        <i class="pe-7s-note2"></i>
                        <h3>Profile</h3>
                    </a>
                </li>
                <li>
                    <a href="/items/add">
                        <i class="pe-7s-note2"></i>
                        <h3>Add New Item</h3>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-science"></i>
                        <h3>Logout</h3>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                <th:block th:each="i : ${items}">
                    <div class="col-md-5">
                        <div class="card">

                            <div class="header">
                                <h4 class="title"><a th:href="@{'/items/edit/' + ${i.getId()}}"><span th:text="${i.getTitle()}"></span></a></h4>
                            </div>
                            <div class="content">

                                <div class="product">
                                    <div class="product_image"><img th:src="${i.getImage()}" alt="img" style="max-width: 455px; max-height: 455px"></div>
                                    <div class="product_content">
                                        <div class="product-title" style="margin-left: 3px; margin-right: 3px"><h4>Description:</h4><br> <span th:text="${i.getContent()}"></span></div>
                                        <div class="product_price"><h4>Price: <span th:text="${i.getSellingPrice()}"></span> KZT</h4></div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Sale
                                        <i class="fa fa-circle text-danger"></i> Bonus
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Last Update <span th:text="${i.getUpdatedAt()}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </th:block>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <h4>
                Page:
            </h4>
            <div th:if="${items.totalPages > 0}" class="pagination"
                 th:each="pageNumber : ${pageNumbers}" style="margin-left: 10px">
                <h4>
                    <a th:href="@{/dashboard(size=${items.size}, page=${pageNumber}-1)}"
                       th:text="${pageNumber}" th:class="${pageNumber==items.number + 1} ? active">
                    </a>
                </h4>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> Timur
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script th:src="@{/js/jquery.3.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script th:src="@{/js/chartist.min.js}"></script>

    <!--  Notifications Plugin    -->
    <script th:src="@{/js/bootstrap-notify.js}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script th:src="@{/js/light-bootstrap-dashboard.js?v=1.4.0}"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script th:src="@{/js/demo.js}"></script>
</html>
